.first
{
border:1px solid white;
}

body
{
background-color:#012;
font-weight:100;
color:white;
}

.button
{
    padding:0.5rem;
    margin:0.5rem;
    color:white;
    font-weight:100;
    background-color:#0f8ac7;
    border:1px solid #b1b1b1;
    cursor:pointer;
    border-radius:0.2rem;
    transition:all 0.2s;
}
.button:hover
{
    transform: translateY(-0.1rem);
}

.button:active
{
    transform: translateY(0.1rem);
    transition:all 0.1s;
}



.button-disable
{
    padding:0.5rem;
    margin:0.5rem;
    color:black;
    font-weight:100;
    background-color:#0f8ac700;
    border:1px solid black;
    border-radius:0.2rem;
    transition:all 0.2s;
}





.container
{
    display:flex;
    justify-content:center;
    align-items:center;

    flex-wrap:wrap;
    max-width:30rem;
    transition: all 0.5s;
}

.margin-1rem { margin:1rem; }
.padding-1rem { padding:1rem; }





.container-modal
{
  position: fixed;
}

.container-modal-hide
{
  top:-5rem;
}

.container-background
{
  background-color:#0d3549;
}

.container-border
{
  border:1px solid #9a9a9a;
  border-radius:0.2rem;
}

.container-vertical
{
  flex-direction:column;
}

.container-horizontal
{
  flex-direction:row;
}



#app{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1rem;
    flex-direction:column;
    flex-wrap:wrap;
}





.light-bubble-error
{
  background-color: #ff1a00;
  border: 1px solid #ff7f70;
  color: white;
  background-color: #ff1a00;
  box-shadow: 0px 0px 22px 3px #ff5e4c;
  transition: all 0.5s;
}


.light-bubble-success
{
  background-color:#60ff00;
  border:1px solid #60ff00;
  color:white;
  background-color:#60ff00;
  box-shadow:0px 0px 22px 3px #60ff00;
  transition:all 0.5s;
}



.light-bubble-warning
{
  background-color:#0d3549;
  border:1px solid #ffc283;
  color:white;
  background-color:#ffa722;
  box-shadow:0px 0px 22px 3px #ffba65;
  transition:all 0.5s;
}

.light-bubble-info
{
  background-color: #0d35ff;
  border: 1px solid #ffc2ff;
  color: white;

  background-color: #91c1ff;
  box-shadow: 0px 0px 22px 3px #8adee2;
  transition: all 0.5s;
}


.light-bubble-on
{
    border-radius:50%;
    width:1rem;
    height:1rem;
    padding:1rem;
    font-weight:900;
    text-align:center;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all 0.5s;
}


.light-bubble-off
{
    box-shadow:none;
    background-color:#00000000;
    color:black;
    border:1px solid #000;
    transition:all 0.5s;
    border-radius:50%;
    width:1rem;
    height:1rem;
    padding:1rem;
    margin:0.5rem;
    text-align:center;
    font-size:2rem;
    font-weight:100;
    display:flex;
    justify-content:center;
    align-items:center;
}


#piano
{
  margin:0.5rem;
}


.modal
{
  position: fixed;
  background-color: #0d3549f0;
  padding: 1rem;
  z-index: 2;
  border-radius: 0.5rem;
  border: 1px solid white;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:all 0.5s;
  top:10rem;
  opacity:1;
  z-index:3;
}

.modal-title
{
  font-size:1.5rem;
  margin:1rem;
}

.modal-hide
{
  top:12rem;
  opacity:0;
  z-index:-2;
}

.title
{
  font-size:1.5rem;
  font-weight:100;
}


.some-class
{

}

.some-class:hover
{
  fill:black;
}
